#:schema node_modules/wrangler/config-schema.json
name = "context-as-a-service"
main = "src/index.ts"
compatibility_date = "2023-12-18"
compatibility_flags = ["nodejs_compat"]

[vars]
UNIFORM_API_KEY = ""
UNIFORM_PROJECT_ID = ""
NEXT_PUBLIC_ANALYTICS_WRITE_KEY = ""
